
.top-logo{
    width: 5rem;
}

.btn_style{
    border-radius: 2rem;
}

.search-icon{
    font-size: 1.5rem;
}

.top-section{
    height: 70vh;
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
    background-position-y: top;
}

.btn_orange{
    background-color: rgb(205, 61, 15);
    border-color: rgb(205, 61, 15);
}




